<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>



<title th:remove="all">Order Confirmation</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>

<div>

<h1>

Pedido número: <span th:text="${pedido.id}"></span>

</h1>

<p>

Instante: <span

th:text="${#dates.format(pedido.instante, 'dd/MM/yyyy hh:mm')}"></span>

</p>

<p>

Cliente: <span th:text="${pedido.cliente.nome}"></span>

</p>

<p>

Situação do Pagamento: <span

th:text="${pedido.pagamento.estado.descricao}"></span>

</p>

<h3>Detalhes do pedido:</h3>

<table border="1">

<tr>

<th>Produto</th>

<th>Quantidade</th>

<th>Preço Unitário</th>

<th>Subtotal</th>

</tr>

<tr th:each="item : ${pedido.itens}">

<th th:text="${item.produto.nome}"></th>

<th th:text="${item.quantidade}"></th>

<th th:text="${#numbers.formatDecimal(item.preco, 0, 'POINT', 2,'COMMA')}"></th>

<th th:text="${#numbers.formatDecimal(item.Subtotal, 0, 'POINT', 2,'COMMA')}"></th>

</tr>

</table>

<p>

Valor Total: <span th:text="${#numbers.formatDecimal(pedido.valorTotal, 0,'POINT', 2, 'COMMA')}"></span>

</p>

</div>



</body>

</html>